<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/logout}">
    <button>Logout</button>
</form>

<br/>

<form th:method="PATCH" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</div>

        <br/>

        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>

        <br/>

        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>

        <br/>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>

        <br/>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

        <br/>

        <label>
            <select size="3" multiple name="rolesList[]" required>
                <option disabled>Roles: </option>
                <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}">Role name</option>
            </select>
        </label>

        <br/>

        <input type="submit" value="Update"/>
    </div>
</form>
</body>
</html>